[Desktop Entry]
Name=Show Workspaces
Name[pt_BR]=Mostrar Áreas de Trabalho
Exec=dbus-send --session --dest=org.gnome.Shell --type=method_call /org/gnome/Shell org.gnome.Shell.Eval string:'let pop_cosmic = Main.extensionManager.lookup("pop-cosmic@system76.com"); if (pop_cosmic) { pop_cosmic.stateObj.overview_toggle(pop_cosmic.stateObj.OVERVIEW_WORKSPACES); }'
Icon=pop-cosmic-workspaces
Type=Application
Categories=Utility;
OnlyShowIn=GNOME;
StartupNotify=false
