[Desktop Entry]
Name=Show Workspaces
Name[pt_BR]=Mostrar Áreas de Trabalho
Exec=dbus-send --session --dest=com.System76.Cosmic --type=method_call /com/System76/Cosmic com.System76.Cosmic.ToggleWorkspaces
Icon=pop-cosmic-workspaces
Type=Application
Categories=Utility;
OnlyShowIn=GNOME;
StartupNotify=false
