[Desktop Entry]
Name=Show Launcher
Name[pt_BR]=Mostrar Lançador
Exec=dbus-send --session --dest=com.System76.Cosmic --type=method_call /com/System76/Cosmic com.System76.Cosmic.ToggleLauncher
Icon=pop-cosmic-launcher
Type=Application
Categories=Utility;
OnlyShowIn=GNOME;
StartupNotify=false
