[Desktop Entry]
Name=Show Applications
Name[pt_BR]=Mostrar Aplicativos
Exec=dbus-send --session --dest=com.System76.Cosmic --type=method_call /com/System76/Cosmic com.System76.Cosmic.ToggleApplications
Icon=pop-cosmic-applications
Type=Application
Categories=Utility;
OnlyShowIn=GNOME;
StartupNotify=false
