.cosmic-applications-dialog {
       background-color: #36322f;
}

.cosmic-applications-icon {
       color: #9b9b9b;
}

.cosmic-applications-folder-title {
       color: #ffffff;
}

.cosmic-applications-available {
       color: #ffffff;
}
