.cosmic-applications-dialog {
       background-color: #36322f;
}

.cosmic-applications-icon {
       color: #9b9b9b;
}

.cosmic-applications-folder-title {
       color: white;
}

.cosmic-applications-available {
       color: white;
}

.cosmic-folder-edit-button {
	background: #353535;
}

.cosmic-folder-edit-button:hover {
	background: #484848;
}
