.cosmic-applications-dialog .app-well-app-running-dot {
	background-color: transparent;
}

.cosmic-applications-box {
	spacing: 12px;
}

.cosmic-applications-separator {
	background: #000000;
}

.cosmic-app-display {
}

/* Width & height of scroll view are set dynamically to handle scaling. */
.cosmic-app-scroll-view {
}

.cosmic-applications-folder-title {
	font-weight: bold;
	font-size: 1.5em;
}

.cosmic-applications-search-entry {
	width: 504px;  /* 168 * 3 */
}

.cosmic-app-icon {
        height: 168px;
        width: 168px;
}

.cosmic-base-folder-button {
        width: 120px;
}

.cosmic-applications-available {
	font-weight: bold;
}

.cosmic-applications-search-results {
	spacing: 32px;
}

.cosmic-folder-edit-dialog {
	min-width: 512px;
}

.cosmic-folder-edit-dialog .message-dialog-description {
	text-align: left;
}

.cosmic-folder-edit-button-box {
	spacing: 8px;
}

.cosmic-folder-edit-button {
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	border-width: 1px;
	padding: 4px 6px 4px 6px;
}
