Source: pop-cosmic
Section: x11
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Build-Depends:
  cargo,
  cbindgen,
  debhelper (>= 10),
  libmutter-8-dev,
Standards-Version: 4.1.1
Homepage: https://github.com/pop-os/cosmic
Vcs-Git: https://github.com/pop-os/cosmic.git

Package: pop-cosmic
Architecture: amd64
Depends:
  ${misc:Depends},
  ${shlib:Depends}
Description: Computer Operating System Main Interface Components
